<nav class="navbar">
    <div>
        <a href="/"> Home </a> 
        <span> | </span>
        <a href="/products">Products Index</a>
        <a href="/products/new">Create New Product</a>
    </div>
</nav>