<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		    <link rel="stylesheet" href="/styles/main.css" />
        <script src="/scripts/main.js" defer></script>

        <title>Kombucha</title>
    </head>
    <body>  
				<nav class="navbar">
            <div>
                <a href="/"> Homepage </a>
            </div>
        </nav>

        <section>
            <div>
                <h1 class="title">Post your own Homebrew Kombucha Here</h1>
            </div>
        </section>

        <main class="container">
        <form action = "/products" method = "POST">
            <div>
                <label for = "name"> Name of your Brew </label>
                <input
                    type = "text"
                    placeholder = ""
                    name = "name"
                    id = "name"
                />
            </div>
        </form>
            <div>
							 <!-- your content here -->
            </div>
        </main>
    
	</body>
</html>