<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>  
				<nav class="navbar">
            <div>
                <a href="/"> Homepage </a>
            </div>
        </nav>

        <section>
            <div>
                <h1 class="title">Post your own Homebrew Kombucha Here</h1>
            </div>
        </section>

        <main class="container">

        <!--  NOTE: action will be the route, method will be the HTTP verb-->

        <form action = "/products" method = "POST">
            <div>
                <label for = "name"> Name of your Brew </label>
                <input
                    type = "text"
                    placeholder = ""
                    name = "name"
                    id = "name"
                />
            </div>

            <div>
                <label for = "price"> Price per Bottle </label>
                <input
                    type = "number"
                    placeholder = "$/can"
                    name = "price"
                    id = "price"
                />
            </div>

            <div>
                <label for = "image"> Images </label>
                <input
                    type = "text"
                    placeholder = "url link here"
                    name = "image"
                    id = "image"
                />
            </div>

            <button class = "button is-info"> Click to List Your Product </button>
        </form>
        </main>
	</body>
</html>